html, body {
    font-family:
        system-ui,
        -apple-system,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        "Noto Sans",
        "Liberation Sans",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji"
    ;
    height: 100%;
    background-color: lightgray;
}

body {
    margin: 0;
}

h3 {
    margin: 0;
    font-size: calc(1.3rem + .6vw);
    font-weight: 500;
}

#app, #calculator-container {
    height: 100%
}

#calculator-display {
    display: flex;
    align-items: end;
    justify-content: flex-end;
    height: 20%;
    background-color: rgb(47,47,54);
}

#calculator-display-text {
    margin: 1rem;
    font-size: calc(1.575rem + 3.9vw);
    font-weight: 300;
    line-height: 1.2;
    color: white;
}

#calculator-keypad {
    height: 80%;
    background-color: lightgray;
}

.calculator-keypad-row {
    display: flex;
    height: 20%;
    border-top: 1px solid #dee2e6;
}

.calculator-key {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator-key-end {
    flex: 1 0 0%;
    background-color: goldenrod;
}

.calculator-key-number {
    flex: 1 0 0%;
    border-right: 1px solid #dee2e6
}

.calculator-key-zero {
    width: 50%;
    flex-basis: auto;
    border-right: 1px solid #dee2e6
}

.calculator-key:active {
    background-color: darkgrey;
}
